.cproject
.project
.settings
.directory
.idea/
configure
config.*
aclocal.m4
compile
depcomp
install-sh
libtool
ltmain.sh
Makefile.in
Makefile
ar-lib
missing
/build/tizen/graphics/autom4te.cache/*
/build/tizen/graphics/m4/*
dali-adaptor.config
dali-adaptor.creator*
dali-adaptor.files
dali-adaptor.includes
*~
*.o
*.o.d
*.lo
*.loT
*.la
*.so
*.orig
*.odt
*.fodt
*.test
*.example
*.a
*.apk
*.ap_
*.class
*.classpath
*.dex
*.gcno
*.gcda
*.gcov
.deps
.libs
*.swp
tags
/build/desktop
/packaging/home*
/debugfiles.list
/debuglinks.list
/debugsources.list
/dali/internal/adaptor/common/system-cache-path.cpp
